# --- Database ---
DB_USER=postgres
DB_PASSWORD=ChooseASecurePassword123!
DB_NAME=planka

# --- Planka Sikkerhed & Admin ---
# Login and accept the EULA to create the admin user
SECRET_KEY=insert_a_very_long_random_string_here
ADMIN_EMAIL=admin@mail.org
ADMIN_PASSWORD=Admin123!
ADMIN_NAME=Admin User
ADMIN_USERNAME=admin
PLANKA_URL=http://localhost
PLANKA_PORT=1337

# --- MCP Indstillinger ---
# Stat
MCP_PORT=25478
MCP_PLANKA_EMAIL=copilot@localhost.com
MCP_PLANKA_PASSWORD=Copilot123!

# --- Obsidian ---
OBSIDIAN_VAULT_PATH=./
PUID=1000
PGID=1000
TZ=Europe/Copenhagen
DOCKER_MODS=linuxserver/mods:universal-package-install
CONFIG_PATH=./obsidian-config
HTTP_PORT=3000
HTTPS_PORT=3001
API_PORT=27124
