#.github/
!agent-output/
*.env
*.local 
.DS_Store
**.mardownlint.json
!.vscode/
!.github/*
!.github/workflows/
!.github/workflows/**
scripts/__pycache__/*
tests/__pycache__/*
agent-output/Analysis-and-design-of-a-platform-for-real-time-speech-translation-/books/*
